body {
  max-width: 960px;
  text-align: center;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

#external-links {
  width: 22%;
  min-width: 200px;
  display: inline-block;
  position: relative;
}

main {
  width: 77%;
  display: inline-block;
  position: relative;
  vertical-align: top;
}


/*@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}*/

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */


img {
  width: 99%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 200px) {
  img {
    width: 180px;
  }
}

@media screen and (max-width: 500px){
  body {
    font-size: 8px;
  }
}